Repository Manta-Network/manta-signer, pull requests merged in 2023-01, with the labels that each got.

#236 Fix Missing File Reload
  CHANGELOG.md
  src/service.rs
Labels: L-fixed, A-network

#252 Colored Icon and Fixing Production Name
  ui/src-tauri/icons/tray.png
  ui/src-tauri/tauri.conf.json
Labels: C-bug, L-changed, P-low, A-tauri, A-ui

#250 Tray Secret Phrase Window not Opening, and X button closing Signer instead of minimizing
  Cargo.lock
  src/service.rs
  ui/src-tauri/src/main.rs
  ui/src/App.js
  ui/src/pages/Authorize.js
  ui/src/pages/Reset.js
  ui/src/pages/ViewPhrase/ViewPhrasePage.js
Labels: C-bug, L-fixed, P-high, A-tauri, A-ui

#265 Update release.yml
  .github/workflows/release.yml
  scripts/gen_filepath.sh
  src/config.rs
  www/src/App.tsx
Labels: release:patch, L-skip

#267 Release v1.0.1
  .github/workflows/release.yml
  www/public/index.html
  www/src/App.tsx
Labels: release:patch, L-skip

#268 Release v1.0.1
  scripts/gen_filepath.sh
  www/src/App.tsx
Labels: release:patch, L-skip

#269 release v1.0.2
  CHANGELOG.md
  Cargo.toml
  ui/package.json
  ui/public/about.html
  ui/src-tauri/Cargo.toml
  ui/src-tauri/tauri.conf.json
  www/src/App.tsx
Labels: release:patch, L-skip

#270 Release-v1.0.3
  .github/workflows/release.yml
  CHANGELOG.md
  scripts/gen_filepath.sh
  src/config.rs
  ui/package.json
  ui/src-tauri/Cargo.toml
  ui/src-tauri/tauri.conf.json
  www/src/App.tsx
Labels: release:patch, L-skip

#274 Release v1.1.0
  Cargo.toml
  ui/package.json
  ui/public/about.html
  ui/src-tauri/Cargo.toml
  ui/src-tauri/tauri.conf.json
  www/src/App.tsx
Labels: release:minor, L-skip
